/* 
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Heebo', sans-serif; */

/* .homepage{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../assets/images/hp-bg.jpeg');
    background-size: cover;
} */

.homepage{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
    background: 
    /* linear-gradient(to right,
      rgba(255, 255, 255, 0.522), 
      rgba(191, 0, 255, 0.241)
    ), */
    
    url('../assets/images/hp-bg9.jpeg');

    background-size: cover;
    background-position: center;
   
    
    
    
}

.hp-sec1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-width: 100vw;
    
    
}

.hp-sec2{
    display: flex;
    height: 400px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-width: 100vw;
    background-color: var(--lightest);
    
    
}

#hp-title{
    display: flex;
    margin-bottom:250px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 5.5em;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px rgb(158, 158, 158);
    
}
#hp-title > span{
    
    text-shadow: none;
}

.hp-subtext{
    /* margin-bottom:250px; */
    color:var(--primary);
    font-family: var(--font2);
    font-size: 1.3em;
    font-weight: normal;

}

.hp-btn-container{
    /* background-color: rgba(0, 2, 53, 0.18); */
    border: none;
    /* border-radius: 3px; */
    /* height: 100px;
    width: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.hp-btn{
    border: none;
    width: 230px;
    height: 100px;
    font-family: var(--font1);
    font-size: 1.3em;
    flex-shrink: 0;
    background-color: var(--secondary);
    color: white;
    margin: 1px;
    /* border-right: solid rgba(49, 39, 39, 0.678) 1px; */

    
}

.hp-btn:hover{
    
    background-color: rgba(76, 83, 99, 0.289);
    color: black;
    
}

.red.darken-3:hover {
    background-color: rgb(0, 0, 0) !important;
}

.stretch{
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-width: 100vw;
    /* background: 
    linear-gradient(to right,
      rgba(0, 77, 113, 0.789), 
      rgba(121, 121, 121, 0.755)
    ); */

    background-size: cover;

}

@media only screen and (max-width: 992px){
    .hp-btn-container{
        /* background-color: rgba(0, 0, 0, 0.18); */
        border-radius: 3px;
        /* height: 100px;
        width: 400px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(5px);
    }
    .hp-sec1{
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    #hp-title{
        margin-bottom:200px;
        font-size: 3em;
    }


}
