.about{
    /* width: 100vw;
    height: 100vh; */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightest);
    
}

.about-sec1{
    width: 100vw;
    min-height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/images/e-pick.png')
}

.about-title{
    width: 100%;
    background-image: linear-gradient(to right,rgb(114, 0, 0), rgb(216, 40, 40),rgb(99, 18, 0));
    margin-bottom: 200px;
}

.about-text{
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.397);
    padding: 10px;
    color: rgb(27, 27, 27);
    backdrop-filter: blur(5px);

}

.two-core-values{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    min-width: 800px;
    /* margin: 10px 0px; */
}

.core-value{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    /* border-radius: 10px; */
    margin:10px;
    width: 300px;
    
    height: 400px;
    background-color: white ;
    box-shadow: 3px 3px 15px 1px rgba(168, 168, 168, 0.747);
}

.core-value-title{
    color:rgb(27, 27, 27);
    font-size: 2rem;
    border-bottom: solid rgb(0, 195, 255) 1px;
    padding: 10px;
}

.core-value-text{
    width: 100%;
    font-size: 1.5em !important;
    color:rgb(179, 0, 0);
}

.mission-statement{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.mission-title{
    font-size: 3rem;
}
.mission-text{
    font-size: 2rem;
}

@media only screen and (max-width: 600px){
    .two-core-values{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        min-height: 460px;
        
        /* min-width: 800px; */
        /* margin: 10px 0px; */
    }
    .core-value{
        display: flex;
        flex-direction: column;
        padding: 20px;
        
    
       
    }
    .about-title{
        width: 100%;
        text-align: center;
        background-color: aliceblue;
        margin-bottom: 200px;
    }

    .about-text{
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.397);
        padding: 10px;
        color: rgb(27, 27, 27);
        backdrop-filter: blur(5px);
    
    }
}


.ui.styled.accordion {
   width: initial;
}