:root {
  /* large banners */
  --col1: rgb(0, 67, 121); 

  /* nav */
  --col2: rgb(146, 41, 132);

  /* footer */
  --col3: rgb(55, 39, 59);

  /* page background */
  --col4: rgb(0, 255, 115);

  /* section1 */
  --col5: rgb(210, 224, 255);

  /* section2 */
  --col6: rgb(0, 81, 255);
  
  
  --lin1: linear-gradient(to bottom right, rgb(0, 67, 121), rgb(65, 24, 92));
  --lin2: linear-gradient(to  right,#6b0e0e, #b22130,#6b0e0e);
  --lin3: linear-gradient(to  right,rgb(114, 0, 0), rgb(216, 40, 40),rgb(99, 18, 0));
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body, html{
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
