.locum-tenens{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.lt-form{
    display: flex;
    width: 600px;
    
    flex-flow: column;
    margin: 100px;
}

.lt-title{
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 30px 30px;
    /* max-width: 90%; */
    background-image: var(--lin2);
}

.lt-subtitle{
    color: var(--lightest);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: capitalize;
    border-radius: 10px;
    background-image: linear-gradient(to  right,var(--tertiary),var(--tertiary));
    padding: 20px;
    box-shadow: 2px 2px 5px 1px rgb(78, 78, 78);

}
.lt-subtitle2{
    font-size: 2rem;
    text-transform: capitalize;
    width: 90%;
    

}

.lt-sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
    url('../assets/images/hp-bg7.jpeg');
    height: 500px;
    width: 100vw;

}

.locum-tenens{
    background-color: var(--lightest);
  
}

.lt-p{
    width: 60%;
    font-size: 1.5rem;
}

.lt-icon{
    width: 74px;
    height: 74px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.income{
    background-image: url('../assets/images/tl-icons/030-bill.svg');
    background-size: contain;
}

.refine{
    background-image: url('../assets/images/tl-icons/026-target.svg');
    background-size: contain;
}

.vacation{
    background-image: url('../assets/images/tl-icons/046-success-1.svg');
    background-size: contain;
}

.retirement{
    background-image: url('../assets/images/tl-icons/027-calendar.svg');
    background-size: contain;
}

.transitional{
    background-image: url('../assets/images/tl-icons/007-briefcase.svg');
    background-size: contain;
}

.burnout{
    background-image: url('../assets/images/tl-icons/021-employee-1.svg');
    background-size: contain;
}

@media only screen and (max-width: 700px) {
    .lt-form{
        width: 90%;
    }
    .lt-sec1{
        background-position: center;
        height: 40vh;
        /* height: 700px; */
        /* background-image: linear-gradient(rgb(255, 255, 255),rgb(59, 0, 118)); */
    }
  }